.hero-header {
    font-family: 'Shadows Into Light', cursive;
    background: #288bdb;
    color: #532537;
    display: flex;
    width: 100%;
}

@media (max-width: 580px) {
    .hero-header {
        font-family: 'Shadows Into Light', cursive;
        background: #288bdb;
        color: #532537;
        display: flex;
        width: 100%;
        height: 10%;
    
        .image-header {
            width: 30%;
        }

        .main-photo {
            width: 60%;
        }

        .name-descrip {
            display: flex;
            flex-direction: column;
        }

        .name-header {
            font-size: 12px;
        }

        .descrip-header {
            font-size: 10px;
        }
        
        .nav-bar {
            display: flex;
            align-items: center;
        }
    }
    
    
    




}





body {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(rgba (108, 13, 163, .6),rgba (108, 13, 163, .6)), url(background/office-background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    background-color: gray;
    width: 100%;
    height: 200px;
}

.image-header {
    width: 10%;
 }



.name-descrip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding-left: 715px;
}

.button {
    background-color: blue;
    border-radius: 80px;
    color: white;
    text-align: center;
    text-decoration: ghostwhite;
    padding: 10px 10px;
    font-size: 18px;
}

.body-flex {
    display: flex;
    width: 100%;
    border: 5px solid goldenrod ;
}

.hp-title {
    border: 5px solid goldenrod ;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-stretch: extra-expanded;
}

.main-photo {
    border: 5px solid goldenrod ;
    height: 400px;
    width: 300px;
    border-radius: 90%;
}

.about-me {
    border: 5px solid goldenrod ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
