* {
    outline: 5px solid hotpink;
}

.hero-header {
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: space-evenly;
    
}

.image-header {
    width: 5em;
    height: 5em;
    margin-top: 1em;
}

.name-descrip {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.name-header {
    font-size: 2em;
    margin-top: .4em;
    margin-bottom: .2em;
}

.descrip-header {
    font-size: 1em;
    margin-top: .2em;
    margin-bottom: .3em;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.button {
    background-color: blueviolet;
    border-radius: 1em;
    font-size: 1em;
    margin: .05em;
    color: white;
    text-decoration: whitesmoke;
    padding-left: .5em;
    padding-right: .5em;
}

.body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hp-title {
    font-size: 2em;;
}

.main-photo {
    width: 40%;
    border-radius: 70%;
}
