/* * {
    outline: 5px solid hotpink;
} */

.hero-header {
    display: flex;
    justify-content: space-evenly;
}

.image-header {
    width: 5em;
    height: 5em;
    margin-top: 1em;
}

.name-descrip {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.name-header {
    font-size: 1.5em;
    margin-top: .4em;
    margin-bottom: .3em;
}

.descrip-header {
    font-size: 1em;
    margin-top: .4em;
    margin-bottom: .3em;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.main-photo {
    width: 40%;
    border-radius: 70%;
}